html,body {
    background-image:url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    background-color:white;
    
}
input[type="radio"]{
    margin: 0 10px 0 10px;
}
.question-formatting {
    font-size:25px;
}
p {
    font-size:30px;
}
.header-font {
    font-size:50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#header-photo {
    width:500px;
    height:auto;
}
.jumbotron {
    background: none;
}
.game-display {
    font-size:40px;
}

button {
    width:40%;
    height:50px;
    font-size:20px;
}